<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/navbar-footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <title>Document</title>
</head>
<body>
    
    <footer>
        <p>Made by BVIS Tech Committee 
        <br> Photocopy © 2024  BVISHN LLC. No Rights Reserved.
        <br><a class="link" href="https://www.figma.com/exit?url=https%3A%2F%2Fhelp.blooket.com%2F">FAQ & Contact</a>
            <a class="link" href="https://www.blooket.com/privacy">Privacy Policy</a>
            <a class="link" href="https://www.figma.com/exit?url=https%3A%2F%2Fwww.blooket.com%2Fterms">Terms of Service</a>
        </p>
    </footer>
</body>
</html>