<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/gameplay-document.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>

    <section class="doc-container">

        <div>

            <section class="doc-header">
                <div class="icon">
                    <i class='bx bxs-x-circle'></i>
                </div>
    
                <div class="header">
                    <img class="doc-img" src="" alt="logo">
                    <p class="doc-title">Apple .Inc (APPL)</p>
                </div>
            
                <div class="line-decor"></div>
            </section>
    
            <section class="doc-info" >

       

                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, nam sequi incidunt doloremque hic minima molestiae tempora. 
                        Molestiae cum asperiores nulla. Mollitia odit fugiat quas accusantium nihil perspiciatis, assumenda quaerat.
                    </p>
    
    
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, modi! Sapiente exercitationem aliquid itaque vero optio consequatur 
                        ipsam deserunt non tempora illo, quas libero, molestiae a reiciendis adipisci quaerat qui!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Vel, modi! 
                    </p>
    
    
                    <p> 
                        Sapiente exercitationem aliquid itaque vero optio consequatur ipsam deserunt non tempora illo, quas libero, molestiae a reiciendis 
                        adipisci quaerat qui!</p>

            


    
    
    
            </section>
            
    
    
    
        </div>

    </section>


    
</body>
</html>