<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Board Multiplayer page</title> 
    <link rel="stylesheet" href="leaderboard.css">
</head>
<body>
    <section>
        <div class="leaderboard">
            <div class="header">
                <div class="number"><h3>6</h3><h3> Players</h3></div>
                <h1>Leader board</h1>
            </div>
            <div class="container">
                <div class="player"><div class="name">Do le Tuan...</div><div class="profit">230.3k($)</div></div>
                <div class="player"><div class="name">Dinh Duong</div><div class="profit">230.3k($)</div></div>
                <div class="player"><div class="name">Vuong Binh</div><div class="profit">230.3k($)</div></div>
                <div class="player"><div class="name">Thanh Danh</div><div class="profit">230.3k($)</div></div>
                <div class="player"><div class="name">Thai Duong</div><div class="profit">230.3k($)</div></div>
                <div class="player"><div class="name">The Phat</div><div class="profit">230.3k($)</div></div>
            </div>
        </div>
    </section>
    <img src="assets/images/lobby-leaderboard/img-9.jpg" class="bg">
</body>
</html>
