<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby Multiplayer Page</title>
    <link rel="stylesheet" href="lobby.css">
</head>
<body>
    <section>
        <div class="game-pin">
            <p>Join the game at - <span>BVIS-SMG.COM</span></p>
            <div class="pin">
            <div class="pr-code"><img src="Image and video/img-13-white.png"></div>
            <div class="code">09816723</div>
            </div>
            <div class="number"><h3>8</h3><h2> Players</h2></div>
            <input type="submit" value="Start" class="start">
            <div class="blur"></div>
        </div>
        <div class="container">
            <div class="name">Binh</div>
            <div class="name">Phat</div>
            <div class="name">Duong</div>
            <div class="name">Danh</div>
            <div class="name">Duy</div>
            <div class="name">Do Le Tuan...</div>
            <div class="name">Bao</div>
            <div class="name">Duc</div>
        </div>
    </section>
    <img src="Image and video/img-9.jpg" class="bg">
</body>
</html>