<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <title>Document</title>
</head>
<body>
    <nav class="navbar-container">
        <div class="navbar">
            <img class="logo" src="../assets/images/home-page/bvis-sm-icon.png" alt="Logo">
            
            <!-- Menu Icon for Mobile -->
            <div class="menu-icon">
                <i class="bx bx-menu"></i>
            </div>
            
            <ul class="navbar-menu">
                <li>
                    <a href="#">Home</a>
                </li>
                
                <li class="dropdown">
                    <button class="dropbtn">
                        Join a Game
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content-1">
                        <a href="#">Singleplayer</a>
                        <a href="#">Multiplayer</a>
                    </div>
                </li>
        
                <li class="dropdown">
                    <button class="dropbtn">
                        About the SGM
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content-2">
                        <a href="#">How the Stocks Market Works</a>
                        <a href="#">How to Play the Game</a>
                    </div>
                </li>
        
                <li  class="dropdown">
                    <button class="dropbtn">
                        About Us
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content-3">
                        <a href="#">Our missions</a>
                        <a href="#">Our members</a>
                    </div>
                </li>


                <li class="dropdown acc">


                    <!-- add a JS functionality where
                    if user is sign up then it will only change to log out  -->

                    <button id="account" class="dropbtn">
                        Log In   
                    </button>
                </li>
            </ul>
            
            <i class='bx bx-user-circle login'></i>
        </div>
    </nav>


    <script src="../script/navbar.js"></script>
    
    
</body>
</html>