@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair', sans-serif;
}

:root {
    --bg1-color: #1D2028;
    --bg2-color: #2CF3B6;
    --bg3-color: #fff;
    --t1-color: #fff;
    --t2-color: #2CF3B6;
}



.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color:var(--bg1-color);
}

.navbar .logo {
    position: relative;
    left: 10px;
    border-radius: 50px;
    height: 67px;
    width: 67px;
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown-content a {
   /* position: relative;
    display: grid;
    gap: 10px;*/
    text-align: center;
    width: 274px;
    padding: 20px 50px;
    color: var(--t1-color);
    background-color: var(--bg2-color);
}  

.dropdown-content a:hover {
    background-color: #0DE7A6;
    transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar ul li a,button {
    position: relative;
    display: flex;
    border: none;
    right: 160px;
    background-color: var(--bg1-color);
    color: var(--t1-color);
    font-size: 25px;
    margin-right: 100px;
    transition: color 0.3s ease;
}

.navbar ul li .dropbtn i {
    font-size: 35px;
    color: var(--bg2-color);
}

.navbar .login {
    position: relative;
    right: 50px;
    font-size: 60px;
    color:var(--bg2-color);
}