@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
   --t1-color: #fff;
   --t2-color: #2CF3B6;
   --op-color: #d2503f;
   --bg1-color: #1D2028;
   --bg2-color: #2CF3B6;
   --bg3-color: #fff;
   --bgh-color: #0DE7A6;
}


* {
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: sans-serif;
}


html,
body {
   overflow: auto;
   font-size: 100%;
   background-color: var(--bg1-color);
}


section {
 
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}


img.bull-image {
   width: 30vw;
   height: 75vh;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-signup {
   width: 35vw;
   height: 75vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;


   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: flex;
   flex-direction: column;
   background-color: var(--bg1-color);
}


.form-signup > h1 {
  text-align: center;
  font-size: 35px;
  color: var(--t1-color);
  padding: 34px 0 19px 0;
}


.form-signup > input {
   border-radius: 5px;
   height: 45px;
   background-color: var(--bg2-color);
}


input[type=text], input[type=date], input[type=password], input[type=email] {
   padding: 10px;
   font-size: 1.5rem;
   color: var(--t1-color);
   border: 2px solid var(--bg2-color);
   background-color: var(--bg1-color);
}


input[type=submit] {
  
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 21px;
   color: var(--t1-color);
   border: var(--bg2-color);
}


.link-login{
  
  
  
   color: var(--t1-color);
   font-size: 15px;
   font-weight: 600;
}


.link-login > a {
   color: var(--t1-color);
   text-decoration: underline solid 2px;
}


.here-word{
   margin-left: 0.1rem;
}


/* Media Queries */


/* Small Phones */
@media (min-width: 320px) and (max-width: 375px) {
   .form-signup {
       width: 90vw;
       height: 90vh;
       padding: 10px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
   }


   .bull-image{
       display: none;
   }
  
   img {
       width: 90%;
       height: auto;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 80%;
       margin: 0;
       
   }


   input[type=submit] {
       width: 50%;
       
   }
}


/* Standard Phones */
@media (min-width: 376px) and (max-width: 430px) {
   .bull-image{
       display: none;
   }
   .form-signup {
       width: 90vw;
       height: 90vh;
       padding: 15px;
    
   }
  
   img {
       width: 85%;
       height: auto;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 80%;
       margin: 0;
   }


   input[type=submit] {
       width: 50%;
       left: 25%;
   }
}


/* Large Phones */
@media (min-width: 431px) and (max-width: 480px) {
   .bull-image{
       display: none;
   }
   .form-signup {
       width: 90vw;
       height: auto;
       padding: 20px;
   }
  
   img {
       width: 80%;
       height: auto;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 75%;
       margin: 0;
   }


   input[type=submit] {
       width: 50%;
       left: 25%;
   }
}


/* Small Tablets */
@media (min-width: 481px) and (max-width: 800px) {
   .bull-image{
       display: none;
   }
   .form-signup {
       width: 90vw;
       height: 90vh;
       padding: 20px;
     
   }
  
   img {
       width: 70%;
       height: auto;
   }


   .form-signup h1{
       margin-bottom: 1vh;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 70%;
       font-size: 1.5rem;
       height: 7vh;
       padding-left: 2vw;
       margin: 0;
     
   }


   input[type=submit] {
       width: 45%;
       height: 7vh;
       font-size: 2rem;
      
   }


   .link-login{
       font-size: 1.5rem;
   }
}


/* Large Tablets */
@media (min-width: 801px) and (max-width: 1024px) {
   .form-signup {
       width: 90vw;
       height: 90vh;
       padding: 25px;
      
   }
  
   img.bull-image {
       display: none;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 80%;
       height: 7vh;
       padding-left: 2vw;
       font-size: 1.5rem;
       margin: 0;
     
      
   }


   input[type=submit] {
       width: 40%;
       height: 7vh;
       font-size: 1.5rem;
       padding: 1vh 1vw;
      
   }


   .link-login{
       font-size: 1rem;
   }
}


/* Small Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
   section{
       padding-top: 10vh;
   }
   .form-signup {
       width: 45vw;
       height: 90vh;
       flex-direction: column;
       justify-content: space-evenly;
      
   }
  
   img.bull-image {
       width: 40vw;
       height: 90vh;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 80%;
       height: 6vh;
       padding-left: 2vw;
       margin: 0;
       font-size: 1.3rem;
       
   }


   input[type=submit] {
       width: 35%;
       height: 6vh;
       font-size: 1.3rem;
       padding: 1vh 1vw;
   }


   .link-login {
       font-size: 1rem;
   }
}


/* Laptops */
@media (min-width: 1281px) and (max-width: 1366px) {
   section{
       padding-top: 10vh;
   }
   .form-signup {
       width: 45vw;
       height: 80vh;
      
   }
  
   img.bull-image {
       width: 40vw;
       height: 80vh;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 75%;
       height: 7vh;
       padding-left: 2vw;
       font-size: 1.5rem;
       margin: 0;
   }


   input[type=submit] {
       width: 35%;
       height: 8vh;
       font-size: 1.7rem;
       padding: 1vh 1vw;
   }


   .link-login {
       font-size: 1rem;
   }
}


/* Large Desktops */
@media (min-width: 1367px) and (max-width: 1440px) {
   section{
       padding-top: 10vh;
   }
   .form-signup {
       width: 45vw;
       height: 80vh;
      
   }
  
   img.bull-image {
       width: 40vw;
       height: 80vh;
   }


   .form-signup h1{
       margin-bottom: 1vh;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 80%;
       height: 8vh;
       padding-left: 2vw;
       font-size: 1.8rem;
   }


   input[type=submit] {
       width: 30%;
       height: 5vh;
       font-size: 1.5rem;
       padding: 1vh 1vw;
       
   }


   .link-login {
       font-size: 1.2rem;
   }
}


/* Extra Large Desktops */
@media (min-width: 1441px) and (max-width: 1920px) {
   section{
       padding-top: 10vh;
   }
   .form-signup {
       width: 45vw;
       height: 80vh;
       padding-bottom: 5vh;
      
   }
  
   img.bull-image {
       width: 40vw;
       height: 80vh;
   }


   .form-signup h1{
       font-size: 2.5rem ;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 65%;
       height: 6vh;
       margin: 1vh 0;
       font-size: 1.7rem;
   }


   input[type=submit] {
       width: 25%;
       height: 7vh;
       font-size: 2rem;
       padding: 1vh 1vw;
       cursor: pointer;
   }


   .link-login {
       font-size: 1.5rem;
   }
}


/* Ultra-Wide Monitors and 4K Screens */
@media (min-width: 1921px) and (max-width: 3840px) {
   section{
       padding-top: 10vh;
   }
   .form-signup {
       width: 45vw;
       height: 80vh;
      
   }
  
   img.bull-image {
       width: 40vw;
       height: 80vh;
   }


   .form-signup h1{
       font-size: 4rem;
       margin-bottom: 2vh;
   }
  
   input[type=text], input[type=date], input[type=password], input[type=email] {
       width: 70%;
       height: 6vh;
       padding-left: 2vw;
       font-size: 2.5rem;
   }


   input[type=submit] {
       width: 20%;
       height: 8vh;
       font-size: 3.3rem;
       padding: 1vh 1vw;
       margin: 1vh 0;
   }


   .link-login {
       font-size: 2rem;
   }
}

